<nav class="navbar navbar-expand-lg bg-body py-5">
  <div class="container-fluid">
    <a class="h1 strong text-decoration-none px-5" href="#">Cars.Pk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Cars
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Repairs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Selling/Buying Old Cars
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Car Service</a></li>
            <li><a class="dropdown-item" href="#">Engine Replacement</a></li>
            <li><a class="dropdown-item" href="#">Spare Parts</a></li>
            <li><a class="dropdown-item" href="#">Totaled Cars</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
